body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../images/logBg.jpg');
    background-size: cover;
    background-position: center;
    animation: backgroundSlide 20s infinite linear;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #262323;
    font-size: 30px;
    transition: color 0.3s, transform 0.4s; /* Smooth transitions */
}

.container form {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
    width: 300px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.container form input {
    display: block;
    width: 92%;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid rgba(204, 204, 204, 0.8); /* Semi-transparent border */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.container form input:hover,
.container form input:focus {
    border-color: #3fb1d1; /* Change border color on hover and focus */
    transform: scale(1.02); /* Slightly scale up on hover and focus */
}

.container form button {
    width: 100%;
    padding: 12px;
    background-color: #101e11;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Smooth transitions */
}

.container form button:hover {
    background-color: #0f140f;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(147, 48, 48, 0.1);
}

.container form button:active {
    transform: translateY(0); /* Reset transform on button click */
}

.container h1:hover {
    color: #3fb1d1;
    transform: scale(1.05); /* Slightly scale up on hover */
}



.login-link,
.register-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #384048;
    text-decoration: none;
    transition: color 0.3s, transform 0.2s; /* Smooth transitions */
}

.login-link:hover,
.register-link:hover {
    color: #0056b3;
    transform: scale(1.1);
}
